footer {
  height: 150px;
  background-color: black;
  color: white;
  font-size: large;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  right: 0;
  .footer-text {
    padding: 10px;
  }

  .footer-logo {
    width: 80px;
  }
}
