@import url("./colors.css");

header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 150px;
}

.header-nav {
  display: flex;
  list-style-type: none;
  width: 180px;
  justify-content: space-between;
}

.header-nav a {
  text-decoration: none;
}

.header-nav a:visited {
  color: var(--main-color);
}
